
.section-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @media screen and(min-width: 768px) {

  }
  @media screen and(min-width: 992px){


  }
  @media screen and(min-width: 1100px){

  }
  @media screen and(min-width: 1200px){

  }
  @include breakpoint (xxlarge up){
    max-width: 63.8rem;
    margin: 0 auto;
  }
  &.b{
    @include breakpoint (large up){
      // max-width: 65.625rem;
      // margin: 0 auto;
    }
    @include breakpoint (xlarge up){
      max-width: 76.6rem;
      margin: 0 auto;
    }
    @include breakpoint (xxlarge up){


    }
  }
  &.page-name-section{
    padding: 15px 15px 0;
    @include breakpoint (medium up){
      padding: 28px 40px 0;
    }
    @include breakpoint (xlarge up){
      max-width: 76.6rem;
      margin: 0 auto;
      padding: 58px 40px 0;
    }
    @media screen and (min-width: 1304px) {
      padding: 58px 0 0;
    }

    span{
      font-size: 9px;
      font-family: "Bahnschrift";
      color: #707070;
      display: inline-block;
      margin-bottom: 50px;
      opacity: .5;
      @include breakpoint (medium up){
        font-size: 12px;
        margin-bottom: 35px;
      }
      @include breakpoint (large up){
        font-size: 14px;
      }
      @include breakpoint (xlarge up){
        font-size: 16px;
      }
    }
    .page-name{
      font-size: 25px;
      font-weight: bold;
      font-family: "Amiri";
      @include breakpoint (medium up){
        font-size: 30px;
      }
      @include breakpoint (large up){
        font-size: 35px;
      }
      @include breakpoint (xlarge up){
        font-size: 45px;
      }
      
    }
  }
}

.section-article{
max-width: 230px;
@include breakpoint (xxlarge up){
  max-width: 460px;
}
h1{
  color: #fff;
  font-weight: bold;
  font-family: "Amiri";
  font-size: 16px;
  @include breakpoint (xxlarge up){
    font-size: 45px;
    padding-bottom: 36px;
    
  }
}
p{
  color: #fff;
  font-family: "Bahnschrift";
  font-size: 8px;
  @include breakpoint (xxlarge up){
    font-size: 16px;
    margin-bottom: 50px;
    
  }
}
}

.title{
display: block;
text-align: center;
width: 100%;
padding: 30px 0 30px;
@include breakpoint( large up){
  padding: 80px 0 50px;
}
h2{
  font-family: "Amiri";
  color: #06160F;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0;
  @include breakpoint (large up){
    font-size: 35px;
  }
  @include breakpoint (xlarge up){
    font-size: 45px;
    line-height: 50px;
  }
}
}

.btn{
background: #027E1B;
color: #fff;
border-radius: 30px;
padding: 5px 18px;
border: 0;
font: 12px "Amiri";
font-weight: 900;
transition: .3s ease-in-out;
display: inline-block;
border: 1.2px solid transparent;
@include breakpoint (medium up){
  font: 16px "Amiri";
  padding: 9px 30px;
}
@include breakpoint (large up){
  font: 16px "Amiri";
  padding: 9px 40px;
}
&:hover{
    background: #fff;
    transition: .3s ease-in-out;
    color: #027E1B;
    border: 1.2px solid #027E1B ;
}
}


.product-text{
width: 223px;
display: block;
margin: 0 auto;
margin-top: -50px;
background: #fff;
position: relative;
z-index: 100;
padding: 27px 30px;
border: 1px solid #DBDAD3;
h5{
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: bold;
    font-family: "Amiri";
}
p{
    font-size: 12px;
    color: #514F42;
    font-family: "Bahnschrift";
    margin-bottom: 0;
}
}

.about-us-article{
h5{
    font-size: 25px;
    width: 90%;
    margin: 0 auto;
    padding-left: 38px;
    padding-bottom: 20px;
    font-weight: bold;
}
p{
    font-size: 12px;
    line-height: 25px;
    word-spacing: 3px;
    color: #707070;
    background: #fff;
    width: 90%;
    margin: 0 auto -120px;
    z-index: 20;
    position: relative;
    padding: 38px;
    @include breakpoint (medium up) {
        padding: 52px 48px;
    }
}
img{
    width: 100%;
}
}

.back-page-link{
margin-top: 20px;
padding: 0 15px;
@include breakpoint (medium up){
  padding: 0 40px;

}
@include breakpoint (large up){

}
@include breakpoint (xlarge up){
}
.title{
  padding-top: 0;
  text-align: left;
  padding-bottom: 30px;
  @include breakpoint (medium up){
      padding-bottom: 40px;
  }
  @include breakpoint (large up){
      padding-bottom: 50px;
  }
  @include breakpoint (xlarge up){
      padding-bottom: 60px;
  }
  h1{
      font-size: 25px;
      font-weight: 900;
      @include breakpoint (large up){
          font-size: 35px;
      }
      @include breakpoint (xlarge up){
          font-size: 45px;
      }
  }
}
a{
  font-size: 10px;
  font-family: 'Bahnschrift';
  opacity: .5;
  color: #707070;
  transition: .2s ease-in-out;
  @include breakpoint (medium up){
    font-size: 12px;
  }
  @include breakpoint (large up){
    font-size: 14px;
  }
  @include breakpoint (xlarge up){
    font-size: 16px;
  }
  &:hover{
    opacity: 1;
    transition: .2s ease-in-out;
  }
}
span{
  font-size: 10px;
  font-family: 'Bahnschrift';
  opacity: .5;
  color: #707070;
  @include breakpoint (medium up){
    font-size: 12px;
  }
  @include breakpoint (large up){
    font-size: 14px;
  }
  @include breakpoint (xlarge up){
    font-size: 16px;
  }
}
}

.img-wrap{
width: 100%;
overflow: hidden;
}