#polan, #begining{
    padding: 30px 15px;
    overflow: hidden;
    @include breakpoint (medium up){
        padding: 80px 40px 80px;
    }
    @include breakpoint (xlarge up){
        padding: 100px 40px;
    }
    .polan-container{
        position: relative;
        width: 100%;
        max-width: 495px;
        margin: 0 auto;
        @include breakpoint (medium up) {
            max-width: unset;
            margin: unset;
        }
        @include breakpoint (large up){
            max-width: 990px;
            margin: 0 auto;
        }
        @include breakpoint (xlarge up){
            max-width: 1020px;
        }
        .about-us-article{
            @include breakpoint (medium up) {
                padding: unset;
                h5{
                    padding-left: 20px;
                    @include breakpoint (medium up) {
                        font-size: 25px;
                    }
                    @include breakpoint (large up){
                        font-size: 35px;
                    }
                    @include breakpoint (xlarge up){
                        font-size: 45px;
                    }
                }
                p{
                    width: 80%;
                    margin: unset;
                    max-width: 456px;
                    @media screen and (large){
                        padding: 65px 75px;
                    }
                    @include breakpoint (large up){
                        font-size: 16px;
                        padding: 75px;
                        max-width: 564px;
                    }
                }
                img{
                    width: 70%;
                    max-height: 330px;
                    position: absolute;
                    bottom: -54px;
                    right: 0;
                    max-width: 510px;
                    @include breakpoint (large up){
                        max-height: 428px;
                    }
                }
            }
        }
    }
}
#begining{
    padding-top: 0;
    @include breakpoint (medium up){
        padding-top: 0px;
    }
    @include breakpoint (large up){
        padding-top: 0px;
    }
    @include breakpoint (xlarge up){
        padding-top: 0px;
    }

    .polan-container{
        .about-us-article{
            img{
                @include breakpoint (medium up){
                    max-height: 300px;
                }
                @include breakpoint (large up){
                    max-height: unset;
                    bottom: unset;
                    top: 0;
                }
            }
        }
    }
}

