#today{
    padding: 50px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-top: 20px;
    @include breakpoint (medium up){
        margin-top: 60px;
        padding:0;
    }
    @include breakpoint (large up){
        margin-top: 20px;
    }
    @include breakpoint (xlarge up){
        margin-top: 40px;
    }
    @include breakpoint (xxlarge up){
        max-width: 1366px;
        margin: 0 auto;
    }
    .about-us-article{
        margin: unset;
        background: #fff;
        padding: 35px;
        min-height: 332px;
        @include breakpoint (medium up){
            width: 50%;
            margin-left: auto;
            min-height: 405px;
            padding: 52px 30px 52px 48px;
        }
        @include breakpoint (large up){
            max-width: 395px;
            margin:  0 auto;
            padding: 50px 60px;
        }
        @include breakpoint (xlarge up){
            max-width: 550px;
            padding: 65px 71px 75px 88px;
        }
        h5{
            padding: 0;
            margin: 0;
            padding-bottom: 30px;
            @include breakpoint (large up){
                font-size: 30px;
            }
            @include breakpoint (xlarge up){
                font-size: 45px;
            }
        }
        p{
            margin: 0;
            padding: 0;
            width: 100%;
            @include breakpoint (xlarge up){
                font-size: 16px;
            }
        }
    }
}