#trophies{
    padding-top: 20px;
    @include breakpoint (medium up) {
        padding: 50px 40px 0;
    }
    .trophies-wrapp{
        width: 83%;
        margin: 0 auto;
        @include breakpoint (medium up) {
          max-width: unset;
          width: 90%;
        }
        @include breakpoint (large up){
            width: 92%;
        }
        @include breakpoint (xlarge up){
            width: 93%;
            max-width: 1150px;

        }
        .trophie-slide{
            display: flex !important;
            flex-wrap: wrap;
            justify-content: center;
            opacity: .6;
            transition: .3s ease-in-out;
            &:hover{
                opacity: 1;
                transition: .3s ease-in-out;
            }
        }
        .slick-arrow{
            cursor: pointer;
            outline: none;
            &.slick-prev{
                left: -37px;
                background: #fff;
                border-radius: 50%;
                box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.2);
                transition: .3s ease-in-out;
                &:before{
                    width: 30px;
                    height: 30px; 
                    transform: rotate(-179deg);
                    background-size: unset;
                    @include breakpoint (large up ){
                        width: 48px;
                        height: 48px;
                    }
                }
                &:hover{
                    background: #00726D;
                    transition: .3s ease-in-out;
                    &:before{
                        filter: brightness(0) invert(1);
                    }
                }
            }
            &.slick-next{
                right: -37px;
                background: #fff;
                border-radius: 50%;
                box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.2);
                transition: .3s ease-in-out;
                &:before{
                    width: 30px;
                    height: 30px; 
                    transform: rotate(180deg);
                    background-size: unset;
                    @include breakpoint (large up ){
                        width: 48px;
                        height: 48px;
                    }
                }
                &:hover{
                    background: #00726D;
                    transition: .3s ease-in-out;
                    &:before{
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
        .slick-dots{
            bottom: -30px;
            li{
                color: #fff;
                transition: .1s ease-in-out;
                &.slick-active{
                    color: #BEB686;
                }
                button{
                    border: 1px solid #BEB686;
                }
                &:hover{
                    color: #BEB686;
                    transition: .1s ease-in-out;
                }
            }

        }
    }
}