body{
	
	background: #F6F6F6;
  }
  *, *:before, *:after { box-sizing: border-box; }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: 'Amiri', serif;
	 margin: 0;
	 width: 100% ;
	 @media screen and (min-width: 320px) and (max-width: 767px) {
	  font-size: 18px;
	}
	@media screen and (min-width: 768px) and (max-width: 991px) {
	  font-size: 20px;
	}
	@media screen and (min-width: 992px ){
	  font-size: 24px;
	}
  }
  p{
	  margin-bottom: 0;
	  font-family: "Bahnschrift";
  }
  a { text-decoration: none; }
  
  ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }

@include breakpoint(medium up){
	.alignright {float:right; margin:0 0 1em 1em}
	.alignleft {float:left; margin:0 1em 1em 0}
}
.aligncenter {display: block; margin-left: auto; margin-right: auto}


a {
	transition: all .3s ease-in-out;
}

.clearfix {
	&:before,
	&:after {
    display: table;
    content: ' '
	}
	&:after {
		clear: both;
	}
}

.material-icons {
	font-size: 1.5em;
}

#site-wrap {
	overflow: hidden;
	.fixed-nav & {
		padding-top: 80px;
	}
}
